<!--The content below is only a placeholder and can be replaced.-->
<div class="container my-5">
  <h1>ng-content demo</h1>

  <h2>Default ng-content</h2>
  <app-card-default-transclusion>
    <div>
      <h5>This content is injected by parent</h5>
      <p>It is a custom html text</p>
      <b>And it works</b>
    </div>
  </app-card-default-transclusion>
  <h2>Attribute transclusion</h2>
  <app-card-by-attribute>
    <div card-header> The header</div>
    <div card-footer> The footer</div>
    <div>
      <h5>This content is injected by parent</h5>
      <p>It is a custom html text</p>
      <b>And it works</b>
    </div>

  </app-card-by-attribute>

  <h2>Class transclusion</h2>
  <app-card-by-class>
    <div class="my-card-header"> The header</div>
    <div>
      <h5>This content is injected by parent</h5>
      <p>It is a custom html text</p>
      <b>And it works</b>

    </div>
    <div class="my-card-footer"> The footer</div>

  </app-card-by-class>

  <h2>Component transclusion</h2>

  <app-my-card></app-my-card>
</div>


<router-outlet></router-outlet>
